:root{
  --title-xl: clamp(3rem, 5vw, 4rem);
  --title-l: clamp(1rem, 5vw, 1.5rem);

  --description-m: clamp(1rem, 3vw, 1.2rem);

  --default-clr-gold: rgb(194, 165, 0);
  --default-clr-black-blue: rgb(0, 10, 68);
  --default-clr-light-gray: rgb(138, 138, 138);
  --default-clr-white: white;
}